---
name: unit

'on':
  pull_request:
  push:
    branches:
      - master

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          # Intel runners
          - os: macos-13
            ruby: '3.1'
            architecture: 'Intel'
          - os: macos-13
            ruby: '3.4'
            architecture: 'Intel'
          - os: macos-15-intel
            ruby: '3.1'
            architecture: 'Intel'
          - os: macos-15-intel
            ruby: '3.4'
            architecture: 'Intel'
          # Apple Silicon runners - oldest (macos-14)
          - os: macos-14
            ruby: '3.1'
            architecture: 'Apple Silicon'
          - os: macos-14
            ruby: '3.4'
            architecture: 'Apple Silicon'
          # Apple Silicon runners - newest (macos-15)
          - os: macos-15
            ruby: '3.1'
            architecture: 'Apple Silicon'
          - os: macos-15
            ruby: '3.4'
            architecture: 'Apple Silicon'
    name: Unit test on ${{ matrix.os }} (${{ matrix.architecture }}) with Ruby ${{ matrix.ruby }}
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - run: bundle exec rake spec
